.App {
  display: flex;
  gap: 15px;
}

.users {
  width: 50%;
  padding: 5px 10px;
}

.users li {
  padding: 10px 20px;
  border: 1px solid #b5b3b3;
}

.active {
  background-color: blueviolet;
  color: #fff;
}

.App__wrap {
  width: 50%;
}